@Model
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Welcome to MunchAllot</h1>
    <p>Ready to feed your face..</p>
</div>

<div class="">

</div>


@*<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a asp-action="index" asp-controller="App">Home</a>
        </li>
        <li class="nav-item">
            <a asp-action="products" asp-controller="App">Pizza's</a>
        </li>
        
    </ul>
</nav>*@
